*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Arial";
  }
head{
    height: 12vh;
    background-size: cover;
    background-position: center;
    background-color: #B99B9B;
  }
.pngcat{
	position: absolute;
	right: 0px;
}
.navbar{
    display: flex;
    align-items: center;
    padding: 20px;
}
nav{
	flex: 1;
	text-align: right;
}
nav ul{
	display: inline-block;
	list-style-type: none;	
}
nav ul li{
	display: inline-block;
	margin-right: 20px;
}

ul li a{
  text-decoration: none;
  color: #000000;
  padding: 10px 5px;
  transition-property: li;	
}
ul li a:hover{ 
  color:  	  #c84b49;
  transition: 0.4s ease;
}
a{
	text-decoration: none;
	color: #000000;
}
p{
	text-align: center;
}

	

.container{
	max-width: 1750px;
	padding-left: 25px;
	padding-right: 25px;
}

.col-2{
	flex-basis: 50%;
	min-width: 300px;
	
}
.col-2 img{
	max-width: 100%;
	padding: 50px 0;
	padding-left: 100px;
			
}
.col-2 h1{
	font-size: 50px;
	line-height: 60px;
	margin: 25px 0;
	text-align: center;				
}

.header{
	background: radial-gradient(#fff,#ffd6d6);		
}
.categories{
	background: radial-gradient(#fff,#ffd6d6);		
}
.header .row{
	margin-top: 70px;
}

.bexplorenow{	
	content: '';
	text-align: center;
	position: absolute;
	background: #c84b49;	
	color: #fff;
	left: 26%;
	padding: 8px 30px;
	margin: 30px 0px;
	border-radius: 30px;	
	transition: 0.5s;
}
.bexplorenow:hover {
	background: #943030;
	
}
.categories{
	
	position: relative;
	
}
.row{
	display: flex;
	align-items: center;
	flex-wrap: wrap;
	justify-content: space-around;
}


.smallcontainer{
	max-width: 1400px;
	margin: auto;
	padding-left: 25px;
	padding-right: 25px;
	
}


.col-3{
 
 position: relative;
 margin: 2px;
 height:445px;
 width: 445px;
 padding-left: 20px;
 
}
.col-3 img{

width: 100%;
height: 100%;
}

.jadad{
	position: absolute;
	left: 0;
	top: 0;
	width: 445px;
	height: 445px;
	opacity: 0;
	
}
.jadad:hover {
	opacity: 1;
	padding-left: 20px;
}
	
	

.centered {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	opacity: 0;
  }
  .centered:hover {
	opacity: 1;

}

.bubbles img{
	width: 50px;
	animation: bubble 7s linear infinite;

}
.bubbles{
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: space-around;
	position: absolute;
	bottom: 20px;

}

@keyframes bubble{
	0%{
		transform: translateY(0);
		opacity: 0;
	}
	50%{		
		opacity: 1;
	}
	70%{		
		opacity: 1;
	}
	100%{
		transform: translateY(-80vh);
		opacity: 0;
	}

}

.bubbles img:nth-child(1){
	animation-delay: 2s;
	width: 45px;
}
.bubbles img:nth-child(2){
	animation-delay: 1s;
	width: 32px;
}
.bubbles img:nth-child(3){
	animation-delay: 3s;
	width: 41px;
}
.bubbles img:nth-child(4){
	animation-delay: 6s;
	width: 50px;
}
.bubbles img:nth-child(5){
	animation-delay: 4s;
	width: 65px;
}
.bubbles img:nth-child(6){
	animation-delay: 5s;
}
.bubbles img:nth-child(7){
	animation-delay: 7s;
	width: 24px;
}


